{{!-- fractal/components/card-media.hbs --}}
<div class="c-card__media

    {{~#if cardMediaModifier}} c-card__media--{{cardMediaModifier}}{{/if}}{{#each cardMediaContext.modifiers}} c-card__media--{{this}}{{/each~}}

    {{~#if cardMediaClasses}} {{cardMediaClasses}}{{/if}}{{#each cardMediaContext.classes}} {{this}}{{/each}}">
    {{!-- Add Content --}}
    <div class="c-card__media-content">
        {{#if cardMediaImageSrc}}
            {{> @image
                    imageContext=cardMediaContext.image
                    imageModifier=cardMediaImageModifier
                    imageSrc=cardMediaImageSrc
                    imageAlt=cardMediaImageAlt
                    imageTitle=cardMediaImageTitle
                    imageClasses="c-card__media-image"}}

        {{else if cardMediaContext.image}}
            {{> @image
                    imageContext=cardMediaContext.image
                    imageModifier=cardMediaImageModifier
                    imageSrc=cardMediaImageSrc
                    imageAlt=cardMediaImageAlt
                    imageTitle=cardMediaImageTitle
                    imageClasses="c-card__media-image"}}

        {{else if mediaVideoSrc}}
            {{> @image
                    imageContext=cardMediaContext.video
                    imageModifier=cardMediaVideoModifier
                    imageSrc=cardMediaVideoSrc
                    imageAlt=cardMediaVideoAlt
                    imageTitle=cardMediaVideoTitle
                    imageClasses="c-card__media-video"}}

        {{else if cardMediaContext.video}}
            {{> @image
                    imageContext=cardMediaContext.video
                    imageModifier=cardMediaVideoModifier
                    imageSrc=cardMediaVideoSrc
                    imageAlt=cardMediaVideoAlt
                    imageTitle=cardMediaVideoTitle
                    imageClasses="c-card__media-video"}}

        {{else if @partial-block}}
            {{> @partial-block }}

        {{/if}}
    </div>
    {{#if mediaTitle}}
        {{> @card-header
                cardHeaderContext=cardMediaContext.header
                cardHeaderTitle=cardMediaTitle
                cardHeaderSubtitle=cardMediaSubtitle
                cardHeaderClasses="c-card__media-header"}}

    {{else if cardMediaContext.header}}
        {{> @card-header
                cardHeaderContext=cardMediaContext.header
                cardHeaderTitle=cardMediaTitle
                cardHeaderSubtitle=cardMediaSubtitle
                cardHeaderClasses="c-card__media-header"}}

    {{/if}}
</div>