{{!-- fractal/components/card-header.hbs --}}
<div class="c-card__header

    {{~#if cardHeaderModifier}} c-card__header--{{cardHeaderModifier}}{{/if}}{{#each cardHeaderContext.modifiers}} c-card__header--{{this}}{{/each~}}

    {{~#if cardHeaderClasses}} {{cardHeaderClasses}}{{/if}}{{#each cardHeaderContext.classes}} {{this}}{{/each}}">
    {{!-- Add avatar or font icon --}}
    {{#if avatarImage}}
        {{> @avatar
                avatarContext=cardHeaderContext.avatar
                avatarImage=cardHeaderAvatarImage
                avatarModifier="large"
                avatarClasses="c-card__header-image"}}

    {{else if avatarTitle}}
        {{> @avatar
                avatarContext=cardHeaderContext.avatar
                avatarTitle=cardHeaderAvatarTitle
                avatarModifier="large"
                avatarClasses="c-card__header-image"}}

    {{else if avatarFontIcon}}
        {{> @avatar
                avatarContext=cardHeaderContext.avatar
                avatarFontIcon=cardHeaderAvatarFontIcon
                avatarModifier="large"
                avatarClasses="c-card__header-image"}}

    {{else if fontIcon}}
        {{> @font-icon
                fontIconContext=cardHeaderContext.fontIcon
                fontIcon=cardHeaderFontIcon
                fontIconModifier='md'
                fontIconClasses="font-icon--highlight c-card__header-image"}}

    {{else if cardHeaderContext.avatar}}
        {{> @avatar
                avatarContext=cardHeaderContext.avatar
                avatarModifier="large"
                avatarClasses="c-card__header-image"}}

    {{else if cardHeaderContext.fontIcon}}
        {{> @font-icon
                fontIconContext=cardHeaderContext.fontIcon
                fontIcon=cardHeaderFontIcon
                fontIconModifier='md'
                fontIconClasses="font-icon--highlight c-card__header-image"}}

    {{/if}}
    <div class="c-card__header-content">
        {{!-- Add title --}}
        {{#if cardHeaderTitle}}
            <div class="c-card__header-title">{{cardHeaderTitle}}</div>
        {{else if cardHeaderTitleLinkTo}}
            <div class="c-card__header-title">
                {{> @link
                        linkContext=cardHeaderContext.titleLink
                        linkTo=cardHeaderTitleLinkTo
                        linkLabel=cardHeaderTitleLabel
                        linkModifier=cardHeaderTitleLinkModifier
                        linkClasses=cardHeaderTitleLinkClasses}}

            </div>
        {{else if cardHeaderContext.title}}
            <div class="c-card__header-title">{{cardHeaderContext.title}}</div>
        {{else if cardHeaderContext.titleLink}}
            <div class="c-card__header-title">
                {{> @link
                        linkContext=cardHeaderContext.titleLink
                        linkTo=cardHeaderTitleLinkTo
                        linkLabel=cardHeaderTitleLabel
                        linkModifier=cardHeaderTitleLinkModifier
                        linkClasses=cardHeaderTitleLinkClasses}}

            </div>
        {{/if}}
        {{!-- Add subtitle --}}
        {{#if cardHeaderSubtitle}}
            <div class="c-card__header-subtitle">{{cardHeaderSubtitle}}</div>
        {{else if cardHeaderContext.subtitle}}
            <div class="c-card__header-subtitle">{{cardHeaderContext.subtitle}}</div>
        {{/if}}
    </div>
</div>