{{!-- fractal/components/progress-bar.hbs --}}
<div class="c-progress-bar

    {{~#if progressBarModifier}} c-progress-bar--{{progressBarModifier}}{{/if}}{{#each progressBarContext.modifiers}} c-progress-bar--{{this}}{{/each~}}

    {{~#if progressBarClasses}} {{progressBarClasses}}{{/if}}{{#each progressBarContext.classes}} {{this}}{{/each}}">
    {{!-- Add header --}}
    {{#if progressBarHeader}}
        <div class="c-progress-bar__header">{{progressBarHeader}}</div>
    {{else if progressBarContext.header}}
        <div class="c-progress-bar__header">{{progressBarContext.header}}</div>
    {{/if}}
    {{!-- Add progress bar --}}
    <div class="c-progress-bar__bar">
        <div class="c-progress-bar__value c-progress-bar__value--{{#if progressBarPercent}}{{progressBarPercent}}{{else}}{{progressBarContext.percent}}{{/if}}"></div>
    </div>
    <div class="c-progress-bar__text">{{#if progressBarPercent}}{{progressBarPercent}}{{else}}{{progressBarContext.percent}}{{/if}}%</div>
</div>