{{!-- fractal/components/button-content.hbs --}}
<span class="c-button__content">
    {{!-- Add left font icon --}}
    {{#if buttonLeftFontIcon}}
        {{> @font-icon
                fontIconContext=buttonContext.leftFontIcon
                fontIcon=buttonLeftFontIcon
                fontIconModifier=buttonLeftFontIconModifier
                fontIconClasses="c-button__icon c-button__icon--left"}}

    {{else if buttonContext.leftFontIcon}}
        {{> @font-icon
                fontIconContext=buttonContext.leftFontIcon
                fontIcon=buttonLeftFontIcon
                fontIconModifier=buttonLeftFontIconModifier
                fontIconClasses="c-button__icon c-button__icon--left"}}

    {{/if}}
    {{#if buttonLabel}}
        <span class="c-button__label">{{buttonLabel}}</span>
    {{else if buttonContext.label}}
        <span class="c-button__label">{{buttonContext.label}}</span>
    {{/if}}
    {{!-- Add badge --}}
    {{#if buttonBadgeLabel}}
        {{> @badge
                badgeContext=buttonContext.badge
                badgeLabel=buttonBadgeLabel
                badgeModifier=buttonBadgeModifier
                badgeClasses="c-button__badge"}}

    {{else if buttonContext.badge}}
        {{> @badge
                badgeContext=buttonContext.badge
                badgeLabel=buttonBadgeLabel
                badgeModifier=buttonBadgeModifier
                badgeClasses="c-button__badge"}}

    {{/if}}
    {{!-- Add right font icon --}}
    {{#if buttonRightFontIcon}}
        {{> @font-icon
                fontIconContext=buttonContext.rightFontIcon
                fontIcon=buttonRightFontIcon
                fontIconModifier=buttonRightFontIconModifier
                fontIconClasses="c-button__icon c-button__icon--right"}}

    {{else if buttonContext.rightFontIcon}}
        {{> @font-icon
                fontIconContext=buttonContext.rightFontIcon
                fontIcon=buttonRightFontIcon
                fontIconModifier=buttonRightFontIconModifier
                fontIconClasses="c-button__icon c-button__icon--right"}}

    {{/if}}
</span>