{{!-- fractal/components/button.hbs --}}
<button class="c-button

    {{~#if buttonModifier}} c-button--{{buttonModifier}}{{/if}}{{#each buttonContext.modifiers}} c-button--{{this}}{{/each~}}

    {{~#if buttonClasses}} {{buttonClasses}}{{/if}}{{#each buttonContext.classes}} {{this}}{{/each}}"

    {{!-- Add title --}}
    {{~#if buttonTitle}} title="{{buttonTitle}}"{{else if buttonContext.title}} title="{{buttonContext.title}}"{{/if}}>
    {{!-- Add content --}}
    {{> @button-content
            buttonContext=buttonContext
            buttonLeftIcon=buttonLeftFontIcon
            buttonLabel=buttonLabel
            buttonBadgeModifier=buttonBadgeModifier
            buttonBadgeLabel=buttonBadgeLabel
            buttonRightIcon=buttonRightFontIcon}}

</button>