{{!-- fractal/components/button-label.hbs --}}
<label class="c-button c-button--label

    {{~#if buttonLabelModifier}} c-button--{{buttonLabelModifier}}{{/if}}{{#each buttonLabelContext.modifiers}} c-button--{{this}}{{/each~}}

    {{~#if buttonLabelClasses}} {{buttonLabelClasses}}{{/if}}{{#each buttonLabelContext.classes}} {{this}}{{/each}}"

    {{~#if buttonLabelFor}} for="{{buttonLabelFor}}"{{else if buttonLabelContext.labelFor}} for="{{buttonLabelContext.labelFor}}"{{/if~}}

    {{~#if buttonLabelTitle}} title="{{buttonLabelTitle}}"{{else if buttonLabelContext.title}} title="{{buttonLabelContext.title}}"{{/if}}>
    {{!-- Add content --}}
    {{> @button-content
            buttonContext=buttonLabelContext
            buttonLeftIcon=buttonLabelLeftFontIcon
            buttonLabel=buttonLabelLabel
            buttonBadgeModifier=buttonLabelBadgeModifier
            buttonBadgeLabel=buttonLabelBadgeLabel
            buttonRightIcon=buttonLabelRightFontIcon}}

</label>