{{!-- fractal/components/title-bar.hbs --}}
<div class="c-title-bar

    {{~#if titleBarModifier}} c-title-bar--{{titleBarModifier}}{{/if}}{{#each titleBarContext.modifiers}}  c-titleBar--{{this}}{{/each~}}

    {{~#if titleBarClasses}} {{titleBarClasses}}{{/if}}{{#each titleBarContext.classes}} {{this}}{{/each}}">
    {{!-- Add titleBar text --}}
    <h1 class="c-title-bar__text">
        {{~#if titleBarText}}{{titleBarText}}{{else}}{{titleBarContext.text}}{{/if~}}
    </h1>
</div>