{{!-- fractal/components/input.hbs --}}
<div class="c-input

    {{~#if inputIsDisabled}} c-input--inactive{{else if inputContext.isDisabled}} c-input--inactive{{/if~}}

    {{~#if inputModifier}} c-input--{{inputModifier}}{{/if}}{{#each inputContext.modifiers}} c-input--{{this}}{{/each~}}

    {{~#if inputClasses}} {{inputClasses}}{{/if}}{{#each inputContext.classes}} {{this}}{{/each}}">
    {{!-- Add label --}}
    <label class="c-input__label c-input__label--text

        {{~#if inputLabelModifier}} c-input__label--{{inputLabelModifier}}{{/if}}{{#each inputContext.labelModifiers}} c-input__label--{{this}}{{/each~}}

        {{~#if inputLabelClasses}} {{inputLabelClasses}}{{/if}}{{#each inputContext.labelClasses}} {{this}}{{/each}}"

        {{~#if inputId}} for="{{inputId}}"{{else if inputContext.id}} for="{{inputContext.id}}"{{/if}}>

        {{~#if inputLabel}}{{inputLabel}}{{else if inputContext.label}}{{inputContext.label}}{{/if~}}
    </label>
    {{!-- Add input --}}
    <input
        class="c-input__element c-input__element--text

        {{~#if inputElementModifier}} c-input__element--{{inputElementModifier}}{{/if}}{{#each inputContext.elementModifiers}} c-input__element--{{this}}{{/each~}}

        {{~#if inputElementClasses}} {{inputElementClasses}}{{/if}}{{#each inputContext.elementClasses}} {{this}}{{/each}}"

        {{~#if inputType}} type="{{inputType}}"{{else if inputContext.type}} type="{{inputContext.type}}"{{else}} type="text"{{/if~}}
        {{~#if inputId}} id="{{inputId}}"{{else if inputContext.id}} id="{{inputContext.id}}"{{/if~}}
        {{~#if inputName}} name="{{inputName}}"{{else if inputContext.name}} name="{{inputContext.name}}"{{/if~}}
        {{~#if inputValue}} value="{{inputValue}}"{{else if inputContext.value}} value="{{inputContext.value}}"{{/if~}}
        {{~#if inputPlaceholder}} placeholder="{{inputPlaceholder}}"{{else if inputContext.placeholder}} placeholder="{{inputContext.placeholder}}"{{/if~}}
        {{~#if inputTitle}} title="{{inputTitle}}"{{else if inputContext.title}} title="{{inputContext.title}}"{{/if~}}
        {{~#if inputIsDisabled}} disabled{{else if inputContext.isDisabled}} disabled{{/if}}/>
</div>