{{!-- fractal/components/radio-group.hbs --}}
<div class="c-input

    {{~#if inputModifier}} c-input--{{inputModifier}}{{/if}}{{#each radioGroupContext.modifiers}} c-input--{{this}}{{/each~}}

    {{~#if inputClasses}} {{inputClasses}}{{/if}}{{#each radioGroupContext.classes}} {{this}}{{/each}}">
    {{!-- Add group label --}}
    <label class="c-input__label c-input__label--group

        {{~#if inputLabelModifier}} c-input__label--{{inputLabelModifier}}{{/if}}{{#each radioGroupContext.labelModifiers}} c-input__label--{{this}}{{/each~}}

        {{~#if inputLabelClasses}} {{inputLabelClasses}}{{/if}}{{#each radioGroupContext.labelClasses}} {{this}}{{/each}}"

        {{~#if radioGroupLabelFor}} for="{{radioGroupLabelFor}}"{{else if radioGroupContext.groupLabelFor}} for="{{radioGroupContext.groupLabelFor}}"{{/if}}>

        {{~#if radioGroupLabel}}{{radioGroupLabel}}{{else}}{{radioGroupContext.groupLabel}}{{/if~}}
    </label>
    {{!--  --}}
    <div class="c-input__group c-input__group--radio

        {{~#if inputGroupModifier}} c-input__group--{{inputModifier}}{{/if}}{{#each radioGroupContext.groupModifiers}} c-input__group--{{this}}{{/each~}}

        {{~#if inputGroupClasses}} {{inputGroupClasses}}{{/if}}{{#each radioGroupContext.groupClasses}} {{this}}{{/each}}">
        {{!-- Add radios via context --}}
        {{#each radioGroupContext.radios}}
            {{> @radio radioContext=this}}

        {{/each}}
        {{!-- Add radios via partial block include --}}
        {{#if @partial-block}}
            {{> @partial-block }}

        {{/if}}
    </div>
</div>