{{!-- fractal/components/radio.hbs --}}
<div class="c-input__group-input c-input__radio

    {{~#if radioIsDisabled}} c-input--inactive{{else if radioContext.isDisabled}} c-input--inactive{{/if~}}

    {{~#if radioModifier}} c-input__radio--{{radioModifier}}{{/if}}{{#each radioContext.modifiers}} c-input__radio--{{this}}{{/each~}}

    {{~#if radioClasses}} {{radioClasses}}{{/if}}{{#each radioContext.classes}} {{this}}{{/each}}">
    {{!-- Add radio --}}
    <input type="radio"
           class="c-input__element c-input__element--radio"
        {{~#if radioId}} id="{{radioId}}"{{else if radioContext.id}} id="{{radioContext.id}}"{{/if~}}
        {{~#if radioName}} name="{{radioName}}"{{else if radioContext.name}} name="{{radioContext.name}}"{{/if~}}
        {{~#if radioValue}} value="{{radioValue}}"{{else if radioContext.value}} value="{{radioContext.value}}"{{/if~}}
        {{~#if radioTitle}} title="{{radioTitle}}"{{else if radioContext.title}} title="{{radioContext.title}}"{{/if~}}
        {{~#if radioIsDisabled}} disabled{{else if radioContext.isDisabled}} disabled{{/if~}}
        {{#if radioIsChecked}} checked{{else if radioContext.isChecked}} checked{{/if}}/>
    {{!-- Add label --}}
    <label class="c-input__label c-input__label--radio" for="{{#if radioId}}{{radioId}}{{else}}{{radioContext.id}}{{/if}}">
        {{~#if radioLabel}}{{radioLabel}}{{else}}{{radioContext.label}}{{/if~}}
    </label>
</div>