{{!-- fractal/components/svg-icon.hbs --}}
<span class="svg-icon

    {{~#if svgIcon}} svg-icon--{{svgIcon}}{{else if svgIconContext.svgIcon}} svg-icon--{{svgIconContext.svgIcon}}{{/if~}}

    {{~#if svgIconModifier}} svg-icon--{{svgIconModifier}}{{/if}}{{#each svgIconContext.modifiers}} svg-icon--{{this}}{{/each~}}

    {{~#if svgIconClasses}} {{svgIconClasses}}{{/if}}{{#each svgIconContext.classes}} {{this}}{{/each}}"

    {{~#if svgIcon}} title="{{svgIcon}}"{{else if svgIconContext.svgIcon}} title="{{svgIconContext.svgIcon}}"{{/if}}>
    {{~#if svgIconBadgeLabel~}}
        {{> @badge
                badgeContext=svgIconContext.badge
                badgeLabel=svgIconBadgeLabel
                badgeModifier=svgIconBadgeModifier
                badgeClasses="svg-icon__badge"}}
    {{~else if svgIconContext.badge~}}
        {{> @badge
                badgeContext=svgIconContext.badge
                badgeLabel=svgIconBadgeLabel
                badgeModifier=svgIconBadgeModifier
                badgeClasses="svg-icon__badge"}}
    {{/if~}}
</span>