{{!-- fractal/components/navigation-tab.hbs --}}
<div class="c-navigation__tab

    {{~#if navigationTabIsSelected}} c-navigation__tab--selected{{else if navigationTabContext.isSelected}} c-navigation__tab--selected{{/if~}}

    {{~#if navigationTabModifier}} c-navigation__tab--{{navigationTabModifier}}{{/if}}{{#each navigationTabContext.modifiers}} c-navigation__tab--{{this}}{{/each~}}

    {{~#if navigationTabClasses}} {{navigationTabClasses}}{{/if}}{{#each navigationTabContext.classes}} {{this}}{{/each}}">
    {{!-- Add label --}}
    {{> @link
            linkContext=navigationTabContext.link
            linkTo=navigationTabLinkTo
            linkLabel=navigationTabLabel
            linkModifier=navigationTabLinkModifier
            linkClasses="c-navigation__tab-text"}}

</div>