{{!-- fractal/components/navigation-tab.hbs --}}
<div class="c-navigation__tab

    {{~#if navigationTabIsSelected}} c-navigation__tab--selected{{else if navigationTabContext.isSelected}} c-navigation__tab--selected{{/if~}}

    {{~#if navigationTabModifier}} c-navigation__tab--{{navigationTabModifier}}{{/if}}{{#each navigationTabContext.modifiers}} c-navigation__tab--{{this}}{{/each~}}

    {{~#if navigationTabClasses}} {{navigationTabClasses}}{{/if}}{{#each navigationTabContext.classes}} {{this}}{{/each}}">

    {{~#if navigationTabIsSelected}}
        {{> @link
                linkContext=navigationTabContext.link
                linkModifier=navigationTabLinkModifier
                linkClasses=navigationTabLinkClasses
                linkTo=navigationTabLinkTo
                linkContentModifier=navigationTabLinkContentModifier
                linkContentClasses=navigationTabLinkContentClasses
                linkLabel=navigationTabLinkLabel
                linkLabelModifier=navigationTabLinkLabelModifier
                linkLabelClasses="c-navigation__tab-label--selected"}}
    {{else if navigationTabContext.isSelected}}
        {{> @link
                linkContext=navigationTabContext.link
                linkModifier=navigationTabLinkModifier
                linkClasses=navigationTabLinkClasses
                linkTo=navigationTabLinkTo
                linkContentModifier=navigationTabLinkContentModifier
                linkContentClasses=navigationTabLinkContentClasses
                linkLabel=navigationTabLinkLabel
                linkLabelModifier=navigationTabLinkLabelModifier
                linkLabelClasses="c-navigation__tab-label--selected"}}
    {{else}}
        {{> @link
                linkContext=navigationTabContext.link
                linkModifier=navigationTabLinkModifier
                linkClasses=navigationTabLinkClasses
                linkTo=navigationTabLinkTo
                linkContentModifier=navigationTabLinkContentModifier
                linkContentClasses=navigationTabLinkContentClasses
                linkLabel=navigationTabLinkLabel
                linkLabelModifier=navigationTabLinkLabelModifier
                linkLabelClasses="c-navigation__tab-label"}}
    {{/if~}}

</div>